.App {
  position: relative;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Preview {
  flex: 1;
  box-sizing: border-box;
  width: 300px;
  height: 800px;
  overflow-y: auto;
  background: white;
  padding: 10px;
}
